<div class="modal-header">
    <button type="button" class="close" ng-click="closeModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{{ title }}</h4>
</div>
<div class="modal-body">
    <form name="submitClientForm" ng-submit="submitClient(submitClientForm.$valid)" novalidate> <!-- ng-submit will disable the default form action and use our function -->
        <!-- NAME -->
        <div class="form-group" ng-class="{ 'has-error' : submitClientForm.name.$invalid && !submitClientForm.name.$pristine }">
            <input type="text" class="form-control input-lg" name="name" ng-model="clientData.name" placeholder="Name" required>
            <p ng-show="submitClientForm.name.$invalid && !submitClientForm.name.$pristine" class="help-block">Name is required.</p>
        </div>

        <!-- ADRESS -->
        <div class="form-group" ng-class="{ 'has-error' : submitClientForm.adress.$invalid && !submitClientForm.adress.$pristine }">
            <input type="text" class="form-control input-lg" name="adress" ng-model="clientData.adress" placeholder="Adress" required>
            <p ng-show="submitClientForm.adress.$invalid && !submitClientForm.adress.$pristine" class="help-block">Adress is required.</p>
        </div>

        <!-- ZIPCODE -->
        <div class="form-group" ng-class="{ 'has-error' : submitClientForm.zipcode.$invalid && !submitClientForm.zipcode.$pristine }">
            <input type="text" class="form-control input-lg" name="zipcode" ng-model="clientData.zipcode" placeholder="0000XX" ng-pattern="/^[1-9][0-9]{3} ?(?!sa|sd|ss)[a-z]{2}$/i" required>
            <p ng-show="submitClientForm.zipcode.$invalid && !submitClientForm.zipcode.$pristine" class="help-block">Zipcode is invalid.</p>
        </div>

        <!-- CITY -->
        <div class="form-group" ng-class="{ 'has-error' : submitClientForm.city.$invalid && !submitClientForm.city.$pristine }">
            <input type="text" class="form-control input-lg" name="city" ng-model="clientData.city" placeholder="City" required>
            <p ng-show="submitClientForm.city.$invalid && !submitClientForm.city.$pristine" class="help-block">City is required.</p>
        </div>

        <!-- WEBSITE -->
        <div class="form-group" ng-class="{ 'has-error' : submitClientForm.website.$invalid && !submitClientForm.website.$pristine }">
            <input type="url" class="form-control input-lg" name="website" ng-model="clientData.website" placeholder="www.example.com" required>
            <p ng-show="submitClientForm.website.$invalid && !submitClientForm.website.$pristine" class="help-block">A valid website url is required.</p>
        </div>

        <!-- EMAIL -->
        <div class="form-group" ng-class="{ 'has-error' : submitClientForm.email.$invalid && !submitClientForm.email.$pristine }">
            <input type="email" class="form-control input-lg" name="email" ng-model="clientData.email" placeholder="info@example.com" required>
            <p ng-show="submitClientForm.email.$invalid && !submitClientForm.email.$pristine" class="help-block">A valid email adress is required.</p>
        </div>

        <!-- PHONE -->
        <div class="form-group" ng-class="{ 'has-error' : submitClientForm.phone.$invalid && !submitClientForm.phone.$pristine }">
            <input type="number" class="form-control input-lg" name="phone" ng-model="clientData.phone" placeholder="0657034658" ng-minlength="10" ng-maxlength="10" required>
            <p ng-show="submitClientForm.phone.$invalid && !submitClientForm.phone.$pristine" class="help-block">A valid phone number is required.</p>
        </div>
        
        <!-- SUBMIT BUTTON -->
        <div class="form-group text-right"> 
            <button type="submit" class="btn btn-primary btn-lg" ng-disabled="submitClientForm.$invalid">Submit</button>
        </div>
    </form>
    <button class="btn btn-default btn-lg" ng-click="closeModal()" aria-label="Close">Close</button>
    <!-- LOADING ICON -->
    <!-- show loading icon if the loading variable is set to true -->
    <p class="text-center" ng-show="loading"><span class="fa fa-spinner fa-spin"></span></p>
</div>
